@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --DM-el: hsl(209, 23%, 22%);
  --DM-bg: hsl(207, 26%, 17%);
  --LM-text: hsl(200, 15%, 8%);
  --LM-input: hsl(0, 0%, 52%);
  --LM-bg: hsl(0, 0%, 98%);
  --DM-text: hsl(0, 0%, 100%);
  --LM-el: hsl(0, 0%, 100%);
}
img {
  max-width: 100%;
  max-height: 100%;
}
